html,body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
}

webview {
	border: 1px solid #999;
}

webview, appview {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.wv-tbl {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.wv-cell {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

#tabs {
	height: 100%;
}

#footer {
	background-color: #eee;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0px 3px;
}

#footer textarea {
	width: 99%;
}

#footer .tab-setting {
	position: absolute;
	right: 9px;
}

#footer .tab-header {
	/*border-top: solid 1px #ddd*/
}

#footer .tab-header .active {
	background-color: #aaa;
}

.controls {
	padding: 2px;
	background-color: #eee;
	width: 100%;
	display: inline-block;
	-webit-flex-direction: column;
	border: solid 1px #ddd;
	border-bottom: 0;
}

.controls .form-location {
	-webkit-flex: 1;
	display: inline-flex;
	-webit-flex-direction: column;
}

.controls button,
.controls input {
	font-size: 14px;
	line-height: 24px;
	border-radius: 2px;
	padding: 0 6px;
}

button,
input[type="submit"],
button[disabled]:hover {
	border: solid 1px transparent;
	background: transparent;
}

button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
	border-color: #ccc;
	background: #ccc;
}

button:focus,
input[type="submit"]:focus {
	border-style: outset;
}

button:active,
input[type="submit"]:active {
	border-color: #bbb;
	border-style: solid;
	background: #bbb;
}

.location {
	border: solid 1px #ccc;
	padding: 2px;
	width: 100%;
	-webkit-box-sizing: border-box;
}



